@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
  }

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card.borderless {
    border:0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), 
                0px -4px 8px rgba(0, 0, 0, 0.05);
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 30 30%22%3E%3Cpath stroke%3D%22rgba%280%2C 0%2C 0%2C 1%29%22 stroke-width%3D%222%22 d%3D%22M4 7h22M4 15h22M4 23h22%22/%3E%3C/svg%3E');
}

.btn.submit {
    background-color:#a2bffe;
}